kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: {{ threescale_project }}
  annotations:
  creationTimestamp: null
  finalizers:
  - kubernetes.io/pvc-protection
  labels:
    app: 3scale-api-management
    threescale_component: system
    threescale_component_element: app
  name: system-storage
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi

